.videoCard {
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, .2);
    padding: 6rem 3rem;
    background-color: #FFF;
    margin: 50px auto !important;
    text-align: center;
}

.videoCardTitle {
    font-family: 'Montserreat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #0D6EFD;
}

.videoCardDesc {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.playBtn {
    font-size: 48px;
    color: #0D6EFD;
    cursor: pointer;
}