.summarySection {
    margin-top: 5rem;
}

.summaryBanner {
    background-image: url(../../assets/images/top-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
}

.summaryBannerOverlay {
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, .7);
}
