.summarySection {
    margin-top: 5rem;
}

.summaryBanner {
    background-image: url(../../assets/images/top-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
}

.summaryBannerOverlay {
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, .7);
}

.countSection {
    margin-top: 17% !important;
}

.countNumber {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Montserreat', sans-serif;
    color: #FFF;
}

.countText {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
}

.countLine {
    background-color: #FFF !important;
    width: 100px !important;
    height: 4px;
    text-align: center;
    margin: auto;
}

.cardTitle {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #000;
}

.cardSubTitle {
    font-size: 14px;
    font-family: 'Montserreat', sans-serif;
    font-weight: 400;
    color: #000;
}